body {
  background-color: #F5f5f1;
}

ul.unstyled-list li {
  list-style: none;
}

.bold {
  font-weight:bold;
}

.well {
  background-color: #fff;
}

hr.divider {
  color: #000000;
  background-color: #000000;
  height: 0.5px;
}

.navbar-default {
  background-color: #B4282E;
}

.navbar-default .navbar-brand {
  color: white;
}

.logo-img {
  margin-top: -15px;
}

ul.nav.navbar-nav.special-color {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: bold;
  letter-spacing: .0em;
}

.navbar-default .navbar-nav > li > a:active {
  color: white;
  font-weight: bold;
  letter-spacing: .0em;
}

a#ember364.ember-view.active {
  color: white;
}

/*.ember-view  .special-color{
  color: #fff;

}*/

.btn-primary {
  background-color: #B4282E;
  border: none;
}

.btn-primary:hover {
  background-color: #af0606;
  border: none;
}

.business-img {
  float:right;
  width: 30%;
  margin-top: -17px;
  border-radius: 3px;
}
