body {
  background-color: #FFF4DF;
}

ul.unstyled-list li {
  list-style: none;
}

.bold {
  font-weight:bold;
}

.well {
  background-color: ;
}

hr.divider {
  color: #000000;
  background-color: #000000;
  height: 0.5px;
}

.navbar-default {
  background-color: red;
}

.navbar-brand {
  color: white;
}
