{{#link-to 'new-business'}}Add a New Business{{/link-to}}

{{outlet}}

<h3>Here are all the businesses:</h3>

<ul class="unstyled-list">
  {{#each business in model}}
    <li>
      <p>{{#link-to 'business' business.id}}{{business.name}}{{/link-to}}</p>
    </li>
  {{/each}}
</ul>
